name: Secret evn testing
on: push

jobs:
  check-secret:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Check secret presence
        uses: ./composite-action-evn     
      - run: |
          echo "${{ env.INPUT_1 }}" | wc
        shell: bash
          

  compose-secret:
    runs-on: ubuntu-latest
    needs: check-secret
    steps:
      - uses: actions/checkout@v4
      - run: |
          echo "${{ env.INPUT_2 }}" | wc
        shell: bash
