name: Secret evn testing
on: push

jobs:
  check-secret:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Check secret presence
        uses: ./composite-action-evn     
      - run: |
          echo "${{ secrets.INPUT_1 }}" | wc
          

  compose-secret:
    runs-on: ubuntu-latest
    needs: check-secret
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - run: |
          echo "${{ secrets.INPUT_2 }}" | wc
